<!DOCTYPE html>
<html>
  <head>
    <title>Editar Funcionário</title>
  </head>
  <body>
    <h1>Editar Funcionário</h1>
    <form action="" method="post">
      <label for="nome_completo">Nome Completo:</label>
      <input type="text" id="nome_completo" name="nome_completo" value="{{ funcionario.nome_completo }}"><br><br>
      <label for="rg">RG:</label>
      <input type="text" id="rg" name="rg" value="{{ funcionario.rg }}"><br><br>
      <label for="cpf">CPF:</label>
      <input type="text" id="cpf" name="cpf" value="{{ funcionario.cpf }}"><br><br>
      <label for="cargo_publico">Cargo Público:</label>
      <input type="text" id="cargo_publico" name="cargo_publico" value="{{ funcionario.cargo_publico }}"><br><br>
      <label for="endereco_rua">Endereço (Rua):</label>
      <input type="text" id="endereco_rua" name="endereco_rua" value="{{ funcionario.endereco_rua }}"><br><br>
      <label for="endereco_cep">Endereço (CEP):</label>
      <input type="text" id="endereco_cep" name="endereco_cep" value="{{ funcionario.endereco_cep }}"><br><br>
      <input type="submit" value="Atualizar">
    </form>
  </body>
</html>